.sidebar-large
{

  #sidebar
  {
    overflow-y: scroll;
    .sidebar-nav
    {
      margin-top: 50px;
      li
      {
        position: relative;
        &.current
        {
          a:after
          {
            border: none;
          }
        }
        .sidebar-text
        {
          position: absolute;
          top: 15px;
          min-width: 110px;
          width: 70%;
        }
      }
      ul.submenu
      {
        li
        {
          .sidebar-text
          {
            position: inherit;
          }
        }
      }
    }
  }
}

.arrow
{
  padding-top: 0;
}

/*
** Banner
*/

#main-content
{
  width: 100%;
  div#message_board{
    font-size: $message-board-font-size;
  }
}

/*
** Charts
*/

svg{
  left: -7px;
  width: auto;
}

#donut-chart1, #donut-chart2, #donut-chart3 {
  height: 200px;
  width: 215px;
  left: -40px;
  position: absolute;
}

.c-gray {
  font-size: 0.8em;
  margin-bottom: 16%;
}

#main-content div#message_board {
  font-size: 1em;
}

body#app-layout .panel-title {
  font-size: 1.5em;
}

div#message_board {
  border-bottom: 1px solid #dfdfdf;
  margin-top: 2%;
  p{
    line-height: 1.5em;
  }
}

#main-content .charts{
  margin: 0 auto;
}

.panel-carrousel{
  margin: 4% auto;
  width: 99%;
}

.panel-body {
  padding: 0;
}
